/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* Common CSS Style */
body{
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}
.section-padding{
    padding: 0 200px;
}
.btn-primary{
    border-radius: 40px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
}
.btn-secondary{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
}
.gray-text-color{
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

/* Navbar Style */
nav{
    /* border: 1px solid rgb(230, 65, 92); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-container img{
    height: 40px;
}
.logo-text{
    font-size: 2.8rem;
    font-weight: 700;
}
.logo-text span{
    color: #ff42a5;
}
.menus{
    display: flex;
    align-items: center;
}
.menus ul{
    display: flex;
    align-items: center;
}
.menus ul li{
    list-style: none;
    padding-right: 1.8rem;
}
.menus ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #3C354F;
}
.menus-btn{
    display: flex; 
    align-items: center; 
    gap: 5px;
    border: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    
}
/* Banner Style */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;   
    background-size:contain;
    /* border: 1px solid rgb(230, 65, 92); */

}
.banner-content{
    /* border: 1px solid rgb(230, 65, 92); */
}
.banner-button-container{
    display: inline-flex;
    gap: 10px;
    padding-top: 20px;
}
.banner-title{
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}
.banner-title2{
    background:linear-gradient(#F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
}
.banner-desc{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.banner-desc img{
    width: 1.5rem;
}

.banner-image{
    display: block;
    text-align: center;
}

.banner-image img{
    width: 28rem;
    text-align: center;
}
.banner-image-double{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-image-double > .pngwing2{
    width: 12.5rem;
}
.banner-image-double > .pngwing3{
    width: 12.5rem;
}

/* Mobile Responsive Style */
@media screen and (max-width: 576px){
    nav, .menus, .menus ul{
        flex-direction: column;
    }
    nav{
        margin-bottom: 3rem;
    }
    .section-padding{
        padding: 0 10px;
    }
    .menus ul li{
        padding-bottom: 20px;
    }
    .banner-container{
        flex-direction: column;
        row-gap: 3rem;
    }
    .banner-content{
        /* text-align: center; */
    }
    .banner-image img{
        width: 100%;
        text-align: center;
    }
    .banner-title2{
        font-size: 70px;
    }
 
}

/* Table and Medium Device Responsive Style*/
@media screen and (min-width: 576px) and (max-width: 960px){
    nav{
        justify-content: center;
    }
    .section-padding{
        padding: 0px;
    }
    .menus ul li a{
        font-size: 1rem;
    }
    .banner-container{
        flex-direction: column;
        background-size: contain;
        height: 450px;
    }
    .banner-content{
        padding-top: 50px;
        padding-bottom: 50px;
    }
   
}