/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* Common CSS Style */
body{
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}
.section-padding{
    padding: 0 200px;
}
.btn-primary{
    border-radius: 40px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
}
.btn-secondary{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
}
.gray-text-color{
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

/* Navbar Style */
nav{
    /* border: 1px solid rgb(230, 65, 92); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-container img{
    height: 40px;
}
.logo-text{
    font-size: 2.8rem;
    font-weight: 700;
}
.logo-text span{
    color: #ff42a5;
}
.menus{
    display: flex;
    align-items: center;
}
.menus ul{
    display: flex;
    align-items: center;
}
.menus ul li{
    list-style: none;
    padding-right: 1.8rem;
}
.menus ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #3C354F;
}
.menus-btn{
    display: flex; 
    align-items: center; 
    gap: 5px;
    border: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    
}
/* Banner Style */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;   
    background-size:contain;
    /* border: 1px solid rgb(230, 65, 92); */

}
.banner-button-container{
    display: inline-flex;
    gap: 10px;
    padding-top: 20px;
}
.banner-title{
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}
.banner-title2{
    background:linear-gradient(#F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
}
.banner-desc{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.banner-desc img{
    width: 1.5rem;
}

.banner-image{
    display: block;
    text-align: center;
}

.banner-image img{
    width: 28rem;
    text-align: center;
}
.banner-image-double{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-image-double > .pngwing2{
    width: 12.5rem;
}
.banner-image-double > .pngwing3{
    width: 12.5rem;
}
/* Funny videos style */
.funny-videos-container{
    text-align: center;
    padding-top: 50px;
}
.funny-videos-content{
    padding-bottom: 30px;

}
.funny-videos-title{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0;
}
.funny-videos-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.funny-videos-card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.2rem;
}
.funny-videos-card{
    position: relative;
    width:100%;
    max-width: 250px;
}
.funny-videos-card img{
    width: 220px;
}
.funny-videos-card-desc{
    text-align: left;
    font-size: 0.9rem;
}

/* play instantly section style */
.play-instantly-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    gap: 180px;
 
}
.play-instantly-content{
    text-align: right;
}
.play-instantly-title{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: right;
}

.play-instantly-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.play-instantly-image{
    position: relative;
    text-align: right;
}
.pi-image{
    width: 400px;
}
.play-instantly-image .pi-image2{
    position: absolute;
    top: 230px;
    left: -100px;
    width: 200px;
}

/* Games Button Style */
.games-button-container{
    margin-top: 42px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.games-button-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.games-btn{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    font-family: Work Sans;
    color: #0B0223;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 7px 10px 7px 7px;
    border-radius: 50px;
    background: #FFF;
    border: 1px solid rgb(243, 241, 241);
}
.games-btn:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    -webkit-background-clip: text;
    color: transparent;
    border-color: #ff42a5;
}
.games-btn img{
    width: 40px;
}
.row-1{
    padding-bottom: 20px;
}


/* Mobile Responsive Style */
@media screen and (max-width: 576px){
    nav, .menus, .menus ul, .funny-videos-card-container, .play-instantly-container{
        flex-direction: column;
    }
    nav{
        margin-bottom: 3rem;
    }
    .section-padding{
        padding: 0 10px;
    }
    .menus ul li{
        padding-bottom: 20px;
    }
    .banner-container{
        flex-direction: column;
        row-gap: 3rem;
    }
    .banner-content{
        text-align: center;
    }
    .banner-image img{
        width: 100%;
        text-align: center;
    }
    .banner-title{
        font-size: 1.8rem;
        padding-top: 20px;
    }
    .banner-title2{
        font-size: 50px;
    }
    .funny-videos-container{
        padding-top: 30px;
    }
    .funny-videos-title, .play-instantly-title{
        font-size: 1.5rem;
        text-align: center;
    }
    .funny-videos-desc, .funny-videos-card-desc, .play-instantly-desc, .banner-desc{
        font-size: 0.8rem;
        text-align: center;
    }
    .funny-videos-card img{
        width: 100%;
    }
    .play-instantly-container{
        row-gap: 20px;
    }

    .pi-image{
        width: 300px;
        position: relative;
    }
    .play-instantly-image .pi-image2{
        width: 100px;
        position: absolute;
        top:230px;
        left: -50px;
    }
 
}

/* Table and Medium Device Responsive Style*/
@media screen and (min-width: 576px) and (max-width: 960px){
    nav{
        justify-content: center;
    }
    .section-padding{
        padding: 20px;
    }
    .menus ul li a{
        font-size: 1rem;
    }
    .banner-container, .play-instantly-container{
        flex-direction: column;
        background-size:85vw;
        row-gap: 100px;
    }
    .banner-content{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .banner-title{
        font-size: 2.8rem;
    }
    .funny-videos-container{
        padding-top: 50px;
    }
    .funny-videos-card-container{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .play-instantly-container{
        row-gap: 30px;
    }
    .play-instantly-content, .funny-videos-card-desc{
        text-align: center;
    }
    .play-instantly-title{
        text-align: center;
    }
}
